---
- name: Ensure onepassword zsh completion is generated
  ansible.builtin.command: op completion zsh
  register: onepassword_zsh_completion
  when: ansible_os_family != "Darwin"
- name: Configure onepassword completion for zsh
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zsh/completions/_onepassword"
    create: true
    mode: "0700"
    content: "{{ onepassword_zsh_completion.stdout }}"
  when: ansible_os_family != "Darwin"
- name: Ensure onepassword aliases and shortcuts are configured
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zsh/aliases.zsh"
    marker: "# {mark} onepassword aliases"
    create: true
    mode: "0777"
    block: |
      # OnePassword
      alias oplogin='eval $(op signin)'
      opkey() {
          # Start ssh-agent if not already running
          if ! pgrep -u "$USER" ssh-agent > /dev/null; then
              eval "$(ssh-agent -s)"
          fi
          # Login to 1Password
          eval "$(op signin)" >/dev/null 2>&1
          # Get all SSH private key references from 1Password
          keys=$(op item list --categories SSHKey --format json | jq -r 'map("op://\(.vault.name)/\(.id)/private_key?ssh-format=openssh") | .[]')

          # Loop through each key and add it to ssh-agent
          while IFS= read -r key; do
              echo "Adding key: $key"
              op read "$key" | ssh-add - >/dev/null
          done <<< "$keys"
      }
- name: Detect the direnv plugins directory
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.config/direnv/lib"
  register: onepassword_direnv_lib_dir
- name: Copy the op direnv extension
  ansible.builtin.copy:
    src: op.sh
    dest: "{{ ansible_env.HOME }}/.config/direnv/lib/op.sh"
    mode: "0700"
  when: onepassword_direnv_lib_dir.stat.exists
