---
- name: Download the onepassword CLI
  ansible.builtin.get_url:
    url: "https://cache.agilebits.com/dist/1P/op2/pkg/{{ onepassword_version }}/op_linux_amd64_{{ onepassword_version }}.zip"
    dest: "/tmp/op_linux_amd64_{{ onepassword_version }}.zip"
    mode: '0644'
- name: Unzip the onepassword CLI
  ansible.builtin.unarchive:
    src: "/tmp/op_linux_amd64_{{ onepassword_version }}.zip"
    dest: /tmp
    remote_src: true
    mode: '0755'
- name: Move the onepassword CLI to /usr/local/bin
  become: true
  ansible.builtin.copy:
    src: /tmp/op
    dest: /usr/local/bin
    mode: '0755'
    remote_src: true
- name: Flush the handlers
  ansible.builtin.meta: flush_handlers
- name: Clean up the onepassword CLI zip file
  ansible.builtin.file:
    path: "/tmp/op_linux_amd64_{{ onepassword_version }}.zip"
    state: absent
- name: Configure onepassword completion for zsh
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.config/zsh/plugins/onepassword.zsh"
    create: true
    mode: '0744'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    content: |
      # OnePassword CLI completion
      if type op &>/dev/null; then
        source <(op completion zsh)
      fi
