---
- name: Ensure nvm completion and activation is in plugins directory
  ansible.builtin.blockinfile:
    marker: "# {mark} nvm configuration"
    path: "{{ ansible_env.HOME }}/.zsh/plugins.zsh"
    create: true
    mode: "0700"
    content: |
      # Load nvm if it exists
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
- name: Ensure npmrc is created
  ansible.builtin.template:
    src: npmrc.j2
    dest: "{{ ansible_env.HOME }}/.npmrc"
    mode: "0600"
  when: nvm_enable_npmrc | default(false)
