---
- name: Download nvm script
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_version }}/install.sh"
    dest: /tmp/install_nvm.sh
    mode: '0755'
- name: Run nvm install script
  ansible.builtin.command: bash /tmp/install_nvm.sh
  environment:
    PROFILE: /dev/null
  args:
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"
