---
- name: Ensure direnv is installed
  ansible.builtin.package:
    name: direnv
    state: present
- name: Download direnv completion script for zsh
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/zsh-users/zsh-completions/refs/heads/master/src/_direnv"
    dest: "{{ direnv_shell_completion_file }}"
    mode: "0700"
