---
- name: Load OS-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family }}.yml"
  failed_when: false
- name: Include install tasks
  ansible.builtin.import_tasks: install.yml
- name: Include configure tasks
  ansible.builtin.import_tasks: configure.yml
- name: Include shell tasks
  ansible.builtin.import_tasks: shell.yml
