---
- name: Ensure pyenv zsh hook is present
  ansible.builtin.blockinfile:
    marker: "# {mark} pyenv configuration"
    path: "{{ ansible_env.HOME }}/.zsh/plugins.zsh"
    mode: "0700"
    content: |
      export PYENV_ROOT="$HOME/.pyenv"
      export PATH="$PYENV_ROOT/bin:$PATH"
      if command -v pyenv 1>/dev/null 2>&1; then
        eval "$(pyenv init - zsh)"
      fi
