---
# Ensure uv config directory and file exist
- name: Ensure uv config directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/uv"
    state: directory
    mode: "0700"
- name: Ensure uv config file exists
  ansible.builtin.template:
    src: uv.toml.j2
    dest: "{{ ansible_env.HOME }}/.config/uv/uv.toml"
    mode: "0600"
# Generate the uv shell completions for zsh and write to the appropriate location
- name: Ensure uv zsh completion is generated
  ansible.builtin.command: uv generate-shell-completion zsh
  register: uv_zsh_completion
- name: Write the uv zsh completion to the appropriate location
  ansible.builtin.copy:
    content: "{{ uv_zsh_completion.stdout }}"
    dest: "{{ ansible_env.HOME }}/.zsh/completions/_uv"
    mode: "0777"
  when: uv_zsh_completion.stdout is defined and uv_zsh_completion.stdout != ""
- name: Ensure uvx zsh completion is generated
  ansible.builtin.command: uvx --generate-shell-completion zsh
  register: uvx_zsh_completion
- name: Write the uvx zsh completion to the appropriate location
  ansible.builtin.copy:
    content: "{{ uvx_zsh_completion.stdout }}"
    dest: "{{ ansible_env.HOME }}/.zsh/completions/_uvx"
    mode: "0777"
  when: uvx_zsh_completion.stdout is defined and uvx_zsh_completion.stdout != ""

# Set up direnv integration if requested
- name: Ensure uv direnv integration is available
  when: python_direnv_integrated | default(false)
  block:
    - name: Ensure direnv lib dir exists
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.config/direnv/lib"
        state: directory
        mode: "0700"
    - name: Ensure uv direnv integration is loaded
      ansible.builtin.copy:
        src: uv.sh
        dest: "{{ ansible_env.HOME }}/.config/direnv/lib/uv.sh"
        mode: "0700"

# Set up auto-activation of uv in direnv if requested
- name: Enable auto-activation of uv in direnv
  when:
    - direnv_enabled | default(false)
    - python_direnv_integrated | default(false)
    - python_uv_autoactivate | default(false)
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.config/direnv/direnvrc"
    create: true
    mode: "0700"
    content: |
      if [[ -f pyproject.toml || -f requirements.txt ]]; then
        layout uv
      fi
    marker: "# {mark}: uv auto-activation on pyproject.toml or requirements.txt presence"
