---
- name: Configure kubectl completion for zsh
  tags: config
  ansible.builtin.blockinfile:
    marker: "# {mark} kubectl configuration"
    path: "{{ ansible_env.HOME }}/.config/zsh/plugins/kubectl.zsh"
    create: true
    mode: '0744'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    content: |
      # Podman configuration
      source <(kubectl completion zsh)
      # Configuring docker alias to point to podman
      alias k=kubectl
      # Assign completion for docker alias to podman completion
      compdef k=kubectl
- name: Configure k9s completion for zsh
  tags: config
  ansible.builtin.blockinfile:
    marker: "# {mark} k9s configuration"
    path: "{{ ansible_env.HOME }}/.config/zsh/plugins/k9s.zsh"
    create: true
    mode: '0744'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    content: |
      # k9s configuration
      source <(k9s completion zsh)
      # Setting up k9s defaults
      alias k9s="k9s -A -r1 --logoless"
- name: Configure helm completion for zsh
  tags: config
  ansible.builtin.blockinfile:
    marker: "# {mark} helm configuration"
    path: "{{ ansible_env.HOME }}/.config/zsh/plugins/helm.zsh"
    create: true
    mode: '0744'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    content: |
      # Helm configuration
      source <(helm completion zsh)
      # Configuring helm alias to point to helm
      alias h=helm
      # Assign completion for helm alias to helm completion
      compdef h=helm
- name: Configure flux completion for zsh
  tags: config
  ansible.builtin.blockinfile:
    marker: "# {mark} flux configuration"
    path: "{{ ansible_env.HOME }}/.config/zsh/plugins/flux.zsh"
    create: true
    mode: '0744'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    content: |
      # Flux configuration
      source <(flux completion zsh)
