---
- name: Verify podman installation
  tags: verify
  ansible.builtin.command: "{{ podman_install_path }}/podman --version"
  register: podman_version_output
  changed_when: false
- name: Display podman version
  tags: verify
  ansible.builtin.debug:
    var: podman_version_output.stdout
