---
# Switch the user's shell to zsh if zsh_is_default is true
- name: Get zsh path
  ansible.builtin.command: which zsh
  register: zsh_path_result
  changed_when: false
- name: Change shell to zsh for the user
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: "{{ zsh_path_result.stdout | default('/usr/bin/zsh', true) }}"
  when:
    - zsh_path_result.stdout != ""
    - zsh_is_default | default(false)
- name: Copy zshenv configuration file to user's home directory
  ansible.builtin.template:
    src: zshenv.j2
    dest: "{{ ansible_env.HOME }}/.zshenv"
    mode: 0700
- name: Copy zsh configuration file to user's home directory
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ ansible_env.HOME }}/.zshrc"
    mode: 0700
- name: Ensure zsh plugins directory exists
  ansible.builtin.file:
    path: "{{ zsh_plugins_dir }}"
    state: directory
    mode: 0700
- name: Ensure zsh completions directory exists
  ansible.builtin.file:
    path: "{{ zsh_completions_dir }}"
    state: directory
    mode: 0700
- name: Ensure zsh aliases file is present in plugins directory
  ansible.builtin.copy:
    src: aliases.zsh
    dest: "{{ zsh_plugins_dir }}/aliases.zsh"
    mode: 0700
- name: Ensure all the files in bin/ are present in user's bin directory
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/{{ item | basename }}"
    mode: 0700
  loop: "{{ lookup('ansible.builtin.fileglob', 'files/bin/*', wantlist=True) }}"