---
# Switch the user's shell to zsh if zsh_is_default is true
- name: Get zsh path
  ansible.builtin.command: which zsh
  register: zsh_path_result
  changed_when: false
- name: Change shell to zsh for the user
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: "{{ zsh_path_result.stdout | default('/usr/bin/zsh', true) }}"
  when:
    - zsh_path_result.stdout != ""
    - zsh_is_default | default(false)
- name: Ensure user's home has a .zsh directory for zsh configuration
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.zsh"
    state: directory
    mode: "0700"
# Configure the user's zshenv and zshrc files
- name: Copy zshenv configuration file to user's home directory
  ansible.builtin.template:
    src: zshenv.j2
    dest: "{{ ansible_env.HOME }}/.zshenv"
    mode: 0700
- name: Copy zsh configuration file to user's home directory
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ ansible_env.HOME }}/.zshrc"
    mode: 0700
# Ensure the completions directory exists and is writable
- name: Ensure zsh completions directory exists
  become: true
  ansible.builtin.file:
    path: "{{ zsh_completions_dir }}"
    state: directory
    mode: 0777
# Ensure the user's local bin directory exists
- name: Ensure user's local bin directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/bin/"
    state: directory
    mode: 0700
- name: Ensure all the files in bin/ are present in user's bin directory
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/{{ item | basename }}"
    mode: 0700
  loop: "{{ lookup('ansible.builtin.fileglob', 'files/bin/*', wantlist=True) }}"
  loop_control:
    label: "{{ item | basename }}"
- name: Ensure all the files in zsh/ are present in user's bin directory
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/.zsh/{{ item | basename }}"
    mode: 0700
  loop: "{{ lookup('ansible.builtin.fileglob', 'files/zsh/*', wantlist=True) }}"
  loop_control:
    label: "{{ item | basename }}"
