- name: Ensure zsh is installed (Debian/Ubuntu/WSL/RedHat/Fedora/Arch)
  become: true
  ansible.builtin.package:
    name: zsh
    state: present
  when: ansible_os_family != "Darwin" # MacOS comes with zsh pre-installed
