---
- name: Load OS-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family }}.yml"
  failed_when: false
- name: Include install tasks
  ansible.builtin.import_tasks: install.yml
- name: Include configure tasks
  ansible.builtin.import_tasks: configure.yml
- name: Ensure zsh is installed
  become: true
  ansible.builtin.package:
    name: zsh
    state: present
  tags: download
- name: Change default shell to zsh for the user
  become: true
  tags: config
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/zsh
  when: zsh_is_default | default(false)
- name: Copy zshenv configuration file to user's home directory
  tags: config
  notify: ZSH reload shell
  ansible.builtin.template:
    src: zshenv.j2
    dest: "{{ ansible_env.HOME }}/.zshenv"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: '0644'
- name: Copy zsh configuration file to user's home directory
  tags: config
  notify: ZSH reload shell
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ ansible_env.HOME }}/.zshrc"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: '0644'
- name: Ensure zsh plugins directory exists
  tags: config
  ansible.builtin.file:
    path: "{{ zsh_plugins_dir }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: '0755'
- name: Ensure zsh plugins directory exists
  tags: config
  ansible.builtin.file:
    path: "{{ zsh_completion_dir }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: '0755'
- name: Copy aliases file to plugins directory
  tags: config
  notify: ZSH reload shell
  ansible.builtin.copy:
    src: aliases.zsh
    dest: "{{ zsh_plugins_dir }}/aliases.zsh"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: '0744'
