---
- name: Loading OS specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family }}.yml"
- name: Run the homebrew installation script
  ansible.builtin.command: bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  args:
    creates: "{{ brew_install_path }}/brew"
- name: Ensure brew is in the PATH
  ansible.builtin.blockinfile:
    marker: "# {mark} brew configuration"
    path: "{{ ansible_env.HOME }}/.zsh/plugins.zsh"
    mode: "0700"
    content: |
      if [ -x "{{ brew_install_path }}/brew" ]; then
        eval "$({{ brew_install_path }}/brew shellenv)"
      fi
- name: Install default packages
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  loop: "{{ brew_default_packages }}"
  become: false
  loop_control:
    label: "{{ item }}"
