---
- name: Load OS-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family }}.yml"
  failed_when: false
- name: Include install tasks
  ansible.builtin.import_tasks: install.yml
- name: Ensure tfenv is installed
  community.general.homebrew:
    name: tfenv
    state: present
- name: Ensure tfenv hook for direnv is present
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/.config/direnv/lib/tfenv.sh"
    src: tfenv.sh
    mode: '0755'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
