---
- name: Ensure kubectl zsh completion is generated
  ansible.builtin.command: "/usr/local/bin/kubectl completion zsh"
  register: kubectl_zsh_completion
  changed_when: false
  when: kubectl_check.stdout is defined and kubectl_check.stdout != ""
- name: Write the kubectl zsh completion to the appropriate location
  ansible.builtin.copy:
    content: "{{ kubectl_zsh_completion.stdout }}"
    dest: "{{ ansible_env.HOME }}/.zsh/completions/_kubectl"
    mode: "0777"
  when: kubectl_zsh_completion.stdout is defined and kubectl_zsh_completion.stdout != ""
- name: Ensure kubectl aliases are set up in zsh
  ansible.builtin.blockinfile:
    marker: "# {mark} kubectl aliases"
    path: "{{ ansible_env.HOME }}/.zsh/aliases.zsh"
    mode: "0700"
    content: |
      if type kubectl &>/dev/null; then
        # Configuring alias for kubectl
        alias k=kubectl
      fi
