---
- name: Configure kubectl completion for zsh
  ansible.builtin.blockinfile:
    marker: "# {mark} kubectl configuration"
    path: "{{ ansible_env.HOME }}/.config/zsh/completions/_kubectl"
    create: true
    mode: '0700'
    content: |
      if type kubectl &>/dev/null; then
        # Configuring completion for kubectl
        source <(kubectl completion zsh)
        # Configuring alias for kubectl
        alias k=kubectl
        # Assign completion for kubectl alias
        compdef k=kubectl
      fi
