- name: Get latest helm version
  when: ansible_facts['os_family'] != 'Darwin'
  ansible.builtin.uri:
    url: https://api.github.com/repos/helm/helm/releases/latest
    return_content: true
  register: kubernetes_helm_release
- name: Download and extract helm
  when: ansible_facts['os_family'] != 'Darwin'
  ansible.builtin.unarchive:
    src: "https://get.helm.sh/helm-{{ kubernetes_helm_release.json.tag_name }}-{{ kubernetes_os_map[ansible_facts['os_family']] | trim }}-amd64.tar.gz"
    dest: /tmp/
    remote_src: true
- name: Move helm binary to /usr/local/bin
  become: true
  when: ansible_facts['os_family'] != 'Darwin'
  ansible.builtin.copy:
    remote_src: true
    src: "/tmp/{{ kubernetes_os_map[ansible_facts['os_family']] | trim }}-amd64/helm"
    dest: /usr/local/bin/helm
    mode: "0777"
- name: Install helm on macOS
  when: ansible_facts['os_family'] == 'Darwin'
  homebrew:
    name: helm
    state: present
- name: Ensure helm zsh completion is generated
  ansible.builtin.command: helm completion zsh
  register: helm_zsh_completion
  when: ansible_facts['os_family'] != 'Darwin'
- name: Write the helm zsh completion to the appropriate location
  ansible.builtin.copy:
    content: "{{ helm_zsh_completion.stdout }}"
    dest: "{{ ansible_env.HOME }}/.zsh/completions/_helm"
    mode: "0777"
  when:
    - helm_zsh_completion.stdout is defined and helm_zsh_completion.stdout != ""
    - ansible_facts['os_family'] != 'Darwin'
- name: Configure helm aliases for zsh
  ansible.builtin.blockinfile:
    marker: "# {mark} helm configuration"
    path: "{{ ansible_env.HOME }}/.zsh/aliases.zsh"
    create: true
    mode: "0700"
    content: |
      if type helm &>/dev/null; then
        # Configuring helm alias to point to helm
        alias h=helm
        # Assign completion for helm alias to helm completion
        compdef h=helm
      fi
