---
- name: Get latest kind version
  ansible.builtin.uri:
    url: https://api.github.com/repos/kubernetes-sigs/kind/releases/latest
    return_content: true
  register: kubernetes_kind_release
- name: Download kind binary
  ansible.builtin.get_url:
    url: "https://kind.sigs.k8s.io/dl/{{ kubernetes_kind_release.json.tag_name }}/kind-{{ kubernetes_os_map[ansible_facts['os_family']] | trim }}-amd64"
    dest: /usr/local/bin/kind
    mode: '0777'
- name: Configure kind completion for zsh
  tags: config
  ansible.builtin.blockinfile:
    marker: "# {mark} kind configuration"
    path: "{{ ansible_env.HOME }}/.config/zsh/completions/_kind"
    create: true
    mode: '0700'
    content: |
      # Kind configuration
      source <(kind completion zsh)
