---
- name: Include install task for kubectl when selected
  ansible.builtin.include_tasks: install_kubectl.yml
  when: "'kubectl' in kubernetes_installs"
- name: Include configure task for kubectl when selected
  ansible.builtin.include_tasks: configure_kubectl.yml
  when: "'kubectl' in kubernetes_installs"
- name: Include install task for k9s when selected
  ansible.builtin.include_tasks: install_k9s.yml
  when: "'k9s' in kubernetes_installs"
- name: Include install task for kubie when selected
  ansible.builtin.include_tasks: install_kubie.yml
  when: "'kubie' in kubernetes_installs"
- name: Include install task for helm when selected
  ansible.builtin.include_tasks: install_helm.yml
  when: "'helm' in kubernetes_installs"
- name: Include install task for flux when selected
  ansible.builtin.include_tasks: install_flux.yml
  when: "'flux' in kubernetes_installs"
- name: Include install task for kubeseal when selected
  ansible.builtin.include_tasks: install_kubeseal.yml
  when: "'kubeseal' in kubernetes_installs"
- name: Include install task for kind when selected
  ansible.builtin.include_tasks: install_kind.yml
  when: "'kind' in kubernetes_installs"
