[global]
bash_path = "/usr/bin/bash"
load_dotenv = true
strict_env = true

[whitelist]
prefix = ['/workspaces/', '/home/{{ ansible_user_id }}/projects', '/home/{{ ansible_user_id }}/Documents', '/tmp']