---
- name: Configure podman completion for zsh
  tags: config
  when: podman_shell_config_file is defined and podman_shell_config_file != ''
  ansible.builtin.blockinfile:
    marker: "# {mark} podman configuration"
    path: "{{ podman_shell_config_file }}"
    create: true
    mode: '0700'
    content: |
      # Podman configuration
      source <(podman completion zsh)
      # Configuring docker alias to point to podman
      alias docker=podman
      alias d="$(docker)"
      # Assign completion for docker alias to podman completion
      compdef docker=podman
      compdef d=podman
